unpackaged/main/default/flows/new_case_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>new_case</name>
        <label>new case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewCase</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>GetCurrentChangeRequestRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
        </inputParameters>
        <nameSegment>NewCase</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <description>Adds the related case IDs to a collection.</description>
        <name>AssignCasesToACollection</name>
        <label>Assign Cases to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateRelatedCases.RelatedIssueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current case to the RelatedCases record collection.</description>
        <name>AssignCasesToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverRetrievedCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverRetrievedCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the related Incident IDs to a collection.</description>
        <name>AssignIncidentsToACollection</name>
        <label>Assign Incidents to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IncidentIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateRelatedIncidents.RelatedIssueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedIncidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current incident to the RelatedIncidents record collection.</description>
        <name>AssignIncidentsToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedIncidents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverRetrievedIncidents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverRetrievedIncidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the related problem IDs to a collection.</description>
        <name>AssignProblemsToACollection</name>
        <label>Assign Problems to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProblemIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateRelatedProblems.RelatedIssueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateRelatedProblems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the current problem to the RelatedProblems record collection.</description>
        <name>AssignProblemsToCollection</name>
        <label>Assign Records to Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RelatedProblems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverRetrievedProblems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverRetrievedProblems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets CaseUpdateError to false. When the ReviewResults screen is shown, the value in CaseUpdateError determines whether the related cases are shown as completed or failed.</description>
        <name>ResetRelatedCaseError</name>
        <label>Reset Related Case Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ReviewResults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets IncidentUpdateError to false. When the ReviewResults screen is shown, the value IncidentUpdateError determines whether the related incidents are shown as completed or failed.</description>
        <name>ResetRelatedIncidentError</name>
        <label>Reset Related Incident Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IncidentUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ProblemUpdateError to false. When the ReviewResults screen is shown, the value in ProblemUpdateError determines whether the related problems are shown as completed or failed.</description>
        <name>ResetRelatedProblemError</name>
        <label>Reset Related Problem Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProblemUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ChangeRequestUpdateError to true. When the ReviewResults screen is shown, the value of ChangeRequestUpdateError determines whether the change request is shown as completed or failed.</description>
        <name>SetChangeRequestError</name>
        <label>Set Change Request Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequestUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WereRelatedIncidentsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the Change Request from GetCurrentChangeRequestRecord record variable to Closed.</description>
        <name>SetChangeRequestStatusToClosed</name>
        <label>Set Change Request Status to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentChangeRequestRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateChangeRequestRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets CaseUpdateError to true. When the ReviewResults screen is shown, the value in CaseUpdateError determines whether the related cases are shown as completed or failed.</description>
        <name>SetRelatedCaseError</name>
        <label>Set Related Case Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewResults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related case from GetCase record variable to Closed.</description>
        <name>SetRelatedCaseStatusToClosed</name>
        <label>Set Related Case Status to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IterateOverRetrievedCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCasesToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets IncidentUpdateError to true. When the ReviewResults screen is shown, the value IncidentUpdateError determines whether the related incidents are shown as completed or failed.</description>
        <name>SetRelatedIncidentError</name>
        <label>Set Related Incident Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IncidentUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related incident from GetIncident record variable to Closed.</description>
        <name>SetRelatedIncidentStatusToClosed</name>
        <label>Set Record Status to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IterateOverRetrievedIncidents.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignIncidentsToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ProblemUpdateError to true. When the ReviewResults screen is shown, the value in ProblemUpdateError determines whether the related problems are shown as completed or failed.</description>
        <name>SetRelatedProblemError</name>
        <label>Set Related Problem Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProblemUpdateError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the status of the related problem from the GetProblem record variable to Closed.</description>
        <name>SetRelatedProblemStatusToClosed</name>
        <label>Set Related Problem Status to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IterateOverRetrievedProblems.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignProblemsToCollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>The choice of whether to close cases related to change requests.</description>
        <name>RelatedCasesChoice</name>
        <choiceText>Related Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RelatedCases</stringValue>
        </value>
    </choices>
    <choices>
        <description>The choice of whether to close incidents related to change requests.</description>
        <name>RelatedIncidentsChoice</name>
        <choiceText>Related Incidents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RelatedIncidents</stringValue>
        </value>
    </choices>
    <choices>
        <description>The choice of whether to close problems related to change requests.</description>
        <name>RelatedProblemsChoice</name>
        <choiceText>Related Problems</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RelatedProblems</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determines whether an incident record retrieved in the GetIncident element exists.</description>
        <name>CheckIncidentStatus</name>
        <label>What&#39;s the Related Incident Status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetRelatedIncidentStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists (Default)</defaultConnectorLabel>
        <rules>
            <name>NoIncidentExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverRetrievedIncidents.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetRelatedIncidentError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of case exist.</description>
        <name>DoRelatedCasesExist</name>
        <label>Related Cases Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedCaseError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of incident exist.</description>
        <name>DoRelatedIncidentsExist</name>
        <label>Related Incidents Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedIncidents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedIncidents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedIncidents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedIncidentError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any change request related issues with a type of problem exist.</description>
        <name>DoRelatedProblemsExist</name>
        <label>Related Problems Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateRelatedProblems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoRelatedProblems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedProblems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRelatedProblemError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a case record retrieved in the GetCase element exists.</description>
        <name>IsRelatedCaseInCollection</name>
        <label>What&#39;s the Related Case Status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetRelatedCaseStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists (Default)</defaultConnectorLabel>
        <rules>
            <name>NoCaseExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverRetrievedCases.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetRelatedCaseError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a problem record retrieved in the GetProblem element exists.</description>
        <name>IsRelatedProblemInCollection</name>
        <label>What&#39;s the Related Problem Status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetRelatedProblemStatusToClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists (Default)</defaultConnectorLabel>
        <rules>
            <name>ProblemDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverRetrievedProblems.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetRelatedProblemError</targetReference>
            </connector>
            <label>Doesn’t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close cases related to the change request.</description>
        <name>WereRelatedCasesSelected</name>
        <label>Related Cases Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ReviewResults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CasesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RelatedCases</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedCases</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close incidents related to the change request.</description>
        <name>WereRelatedIncidentsSelected</name>
        <label>Related Incidents Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>WereRelatedProblemsSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IncidentsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RelatedIncidents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedIncidents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user has selected to close problems related to the change request.</description>
        <name>WereRelatedProblemsSelected</name>
        <label>Related Problems Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>WereRelatedCasesSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ProblemsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RelatedProblems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedProblems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>new case flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>new case flow</label>
    <loops>
        <description>Iterates over cases retrieved in the GetCases element.</description>
        <name>IterateOverRetrievedCases</name>
        <label>Iterate Over Retrieved Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsRelatedCaseInCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates over incidents retrieved in the GetIncident element.</description>
        <name>IterateOverRetrievedIncidents</name>
        <label>Iterate over Retrieved Incidents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetIncidents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIncidentStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedIncidents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterates over problems retrieved in the GetProblem element.</description>
        <name>IterateOverRetrievedProblems</name>
        <label>Iterate Over Retrieved Problems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetProblems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsRelatedProblemInCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedProblems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of case retrieved in the GetRelatedCases element.</description>
        <name>IterateRelatedCases</name>
        <label>Iterate Over Related Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRelatedCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCasesToACollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of incident retrieved in the GetRelatedIncident element.</description>
        <name>IterateRelatedIncidents</name>
        <label>Iterate Over Related Incidents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRelatedIncidents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignIncidentsToACollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetIncidents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each change request related issue record with a type of problem retrieved in the GetRelatedProblems element.</description>
        <name>IterateRelatedProblems</name>
        <label>Iterate Over Related Problems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetRelatedProblems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProblemsToACollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProblems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the cases in bulk with IDs that match the related issue ID of the current change request issue record. The result is stored in the Case from GetCases record variable.</description>
        <name>GetCases</name>
        <label>Get Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverRetrievedCases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdsCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current change request record and stores it in the Change Request from GetCurrentChangeRequestRecord record variable.</description>
        <name>GetCurrentChangeRequestRecord</name>
        <label>Get Current Change Request Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetChangeRequestStatusToClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChangeRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the incidents in bulk with IDs that match the related issue ID of the current change request issue record. The result is stored in the Incident from GetIncidents record variable.</description>
        <name>GetIncidents</name>
        <label>Get Incidents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverRetrievedIncidents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IncidentIdsCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the problems in bulk with IDs that match the related issue ID of the current change request issue record. The result is stored in the Problem from GetProblems record variable.</description>
        <name>GetProblems</name>
        <label>Get Problems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverRetrievedProblems</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ProblemIdsCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Problem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of case and stores them in the Change Request Related Issues from GetRelatedCases record collection.</description>
        <name>GetRelatedCases</name>
        <label>Get Change Request Issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedCasesExist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of incident and stores them in the Change Request Related Issues from GetRelatedIncidents record collection.</description>
        <name>GetRelatedIncidents</name>
        <label>Get Change Request Issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedIncidentsExist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets change request related issues that have a type of problem and stores them in the Change Request Related Issues from GetRelatedProblems record collection.</description>
        <name>GetRelatedProblems</name>
        <label>Get Change Request Issues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoRelatedProblemsExist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChangeRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChangeRequestRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the current record in Change Request from GetCurrentChangeRequestRecord, changing the record status to Closed.</description>
        <name>UpdateChangeRequestRecord</name>
        <label>Update Change Request Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WereRelatedIncidentsSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetChangeRequestError</targetReference>
        </faultConnector>
        <inputReference>GetCurrentChangeRequestRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates all related case records in the RelatedCases collection.</description>
        <name>UpdateRelatedCases</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResetRelatedCaseError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedCaseError</targetReference>
        </faultConnector>
        <inputReference>RelatedCases</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates all related incident records in the RelatedIncidents collection.</description>
        <name>UpdateRelatedIncidents</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResetRelatedIncidentError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedIncidentError</targetReference>
        </faultConnector>
        <inputReference>RelatedIncidents</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates related problem records from GetProblem, changing the record statuses to Closed.</description>
        <name>UpdateRelatedProblems</name>
        <label>Update Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResetRelatedProblemError</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetRelatedProblemError</targetReference>
        </faultConnector>
        <inputReference>RelatedProblems</inputReference>
    </recordUpdates>
    <screens>
        <description>Allows users to review the results of the flow.</description>
        <name>ReviewResults</name>
        <label>Review Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReviewResults_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewResults_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClosedResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;We closed these items:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeRequestClosed</name>
                    <fieldText>&lt;p&gt;Change Request&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IncidentsClosed</name>
                    <fieldText>&lt;p&gt;Related Incidents&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedIncidents</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IncidentUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProblemsClosed</name>
                    <fieldText>&lt;p&gt;Related Problems&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedProblems</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProblemUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CasesClosed</name>
                    <fieldText>&lt;p&gt;Related Cases&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedCases</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CaseUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>IncidentUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProblemUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReviewResults_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewResults_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErroredResults</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;We couldn’t close these items:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChangeRequestFailure</name>
                    <fieldText>&lt;p&gt;Change Request&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IncidentFailure</name>
                    <fieldText>&lt;p&gt;Related Incidents&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedIncidents</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IncidentUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ProblemFailure</name>
                    <fieldText>&lt;p&gt;Related Problems&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedProblems</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ProblemUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CasesFailure</name>
                    <fieldText>&lt;p&gt;Related Cases&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CheckboxGroupRelatedIssueTypes</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>RelatedCases</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CaseUpdateError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TroubleshootFailure</name>
                    <fieldText>&lt;p&gt;&lt;em&gt;To troubleshoot the issue, see &lt;a href=&quot;/HelpAndTrainingDoor?version=2&amp;resource=https://help.salesforce.com/s/articleView?id=sf.incident_mgmt_flow_considerations.htm&quot; target=&quot;_blank&quot;&gt;Customer Service Incident Management flow considerations in Salesforce Help.&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>IncidentUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProblemUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ChangeRequestUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseUpdateError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows users to select one or more related issues to close when closing a change request.</description>
        <name>SelectCloseRelatedIssuesOptions</name>
        <label>Select Close-Related Issues Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>new_case</targetReference>
        </connector>
        <fields>
            <name>SelectCloseRelatedIssuesOptions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectCloseRelatedIssuesOptions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextSectionHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SectionHeaderSelectOptions}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayTextScreenInstructions</name>
                    <fieldText>&lt;p&gt;Mark a Change Request and related Incidents, Problems, and Cases as Closed. Related issues may relate to more than one Change Request. Only directly-related issues are closed. Second-level related issues, like a Problem related to a Change Request&#39;s related Incident, must be manually closed.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CheckboxGroupRelatedIssueTypes</name>
                    <choiceReferences>RelatedIncidentsChoice</choiceReferences>
                    <choiceReferences>RelatedProblemsChoice</choiceReferences>
                    <choiceReferences>RelatedCasesChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!TextCheckboxGroupLabel}</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_service_incident_mgmt__CRRI</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectCloseRelatedIssuesOptions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>The section header for the SelectCloseRelatedIssuesOptions screen.</description>
        <name>SectionHeaderSelectOptions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Close a Change Request and Its Related Issues&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>The label for the checkbox group in the SelectCloseRelatedIssuesOptions screen.</description>
        <name>TextCheckboxGroupLabel</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Related Issue Types</text>
    </textTemplates>
    <variables>
        <description>Stores case IDs for case records that match change request related issue records with a type of case that were retrieved in the GetRelatedCases element.</description>
        <name>CaseIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the cases were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>CaseUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the change request was updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>ChangeRequestUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores incident IDs for incident records that match change request related issue records with a type of incident that were retrieved in the GetRelatedIncidents element.</description>
        <name>IncidentIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the incidents were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>IncidentUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores problem IDs for problem records that match change request related issue records with a type of problem that were retrieved in the GetRelatedProblems element.</description>
        <name>ProblemIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Boolean value that indicates whether the problems were updated. This value affects how details are shown on ReviewResults screen.</description>
        <name>ProblemUpdateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores cases to be bulk updated in the UpdateRelatedCases element.</description>
        <name>RelatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores incidents to be bulk updated in the UpdateRelatedIncidents element.</description>
        <name>RelatedIncidents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <description>Stores problems to be bulk updated in the UpdateRelatedProblems element.</description>
        <name>RelatedProblems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Problem</objectType>
    </variables>
</Flow>
